---
# Requirements:
#   Inventory Example with Variables:
#     Inventory Group:
#       "DC1 RD SQL"
#         "vm_vcenter: vcenter.yourdomain.com"
#         "vm_datacenter: DC1"
#     Inventory Hosts:
#       "DC1-RDSQL01.yourdomain.com"
#         "vm_name: DC1-RDSQL01"
#       "DC1-RDSQL02.yourdomain.com"
#         "vm_name: DC1-RDSQL02"
#
#    Playbook Variables Examples:
#      connection_port: 5986
#      connection_type: winrm
#      connection_transport: kerberos
#      connection_cert_validation: ignore
#
#    Credentials Variables Examples:
#      WinRM Credentials:
#        # Notice the capitalised domain.
#        winrm_username: winrmuser@YOURDOMAIN.COM
#        winrm_password: insertpasswordhere
#      vCenter Credentials:
#        vm_vcenter_username" vcenter@yourdomain.com
#        vm_vcenter_password: insertpasswordhere
#
#    Optional Playbook Requirements:
#      Kerberos:
#        For Kerberos to work, you will need to create a '/etc/krb5.conf' file (see example-krb5.conf in Git Repo)
#      SQL:
#        For this play to work, the WinRM user will need permissions in SQL.
#
#  Known Issues:
#    1: The 'win_updates' Ansible Module has some known issues where it hangs and times out.
#       Sometimes restarting the play and/or rebooting the inventory host fixes the issue, but not always.
#         ref: https://github.com/ansible-collections/ansible.windows/issues/516
#
#    2: The 'win_updates' Ansible Module has been stuggling with some Windows Updates getting stuck in an update looks.
#       This seems to be a common issue in Windows, specifically with Defender upates (this is not an issue with Ansible, but with Windows).
#       You may find you need to exclude these updates from this play.
#       You can exclude updated by KB or Description by passing the following variable to the Ansible play:
#         reject_updates:
#           - KB2267602
#           - '.*Defender.*'
- name: Microsoft RD SQL Availability Group Server Patching (HA)
  hosts: all
  vars:
    ansible_user: "{{ winrm_username }}"
    ansible_password: "{{ winrm_password }}"
    ansible_port: "{{ connection_port }}"
    ansible_connection: "{{ connection_type }}"
    ansible_winrm_transport: "{{ connection_transport }}"
    ansible_winrm_server_cert_validation: "{{ connection_cert_validation }}"
  gather_facts: false
  serial: 1
  tasks:

    - name: Confirm Ansible can communicate with the hosts to be patched
      include_tasks: tasks/test-communication.yaml

    - name: Confirm AG Health
      include_tasks: tasks/sql/windows-sql-ag-cluster-healthcheck.yaml

    - name: Confirm AG Replica Node Health
      include_tasks: tasks/sql/windows-sql-ag-replica-healthcheck.yaml

    - name: Confirm AG Database Health
      include_tasks: tasks/sql/windows-sql-ag-database-healthcheck.yaml

    - name: Is Failover Required for Current SQL AG Replica Node
      include_tasks: tasks/sql/windows-sql-ag-failover-check.yaml

    - name: Is Failover Current SQL AG Replica Node if Required
      include_tasks: tasks/sql/windows-sql-ag-failover-node.yaml
      when: sql_current_replica['failover_required'] | trim == 'True'

    - name: Suspend SQL data movement
      vars:
        data_movement_action: "suspend"
      include_tasks: tasks/sql/windows-sql-ag-data-movement.yaml

    - name: Install all available windows update
      include_tasks: tasks/patching/windows-update-all.yaml
      vars:
        ansible_winrm_operation_timeout_sec: 300
        ansible_winrm_read_timeout_sec: 301
        wsus: default

    - name: If required update VMTools
      include_role:
        name: arole_vmware
        tasks_from: vmware-update-tools.yaml
        apply:
          delegate_to: localhost
      vars:
        hostname: "{{ vm_vcenter }}"
        datacenter: "{{ vm_datacenter }}"
        username: "{{ vm_vcenter_username }}"
        password: "{{ vm_vcenter_password }}"
        name: "{{ vm_name }}"
        vm_validate_certs: false
        ansible_connection: local

    - name: Confirm Ansible can communicate with the patched hosts
      include_tasks: tasks/test-communication.yaml

    - name: Resume SQL data movement
      vars:
        data_movement_action: "resume"
      include_tasks: tasks/sql/windows-sql-ag-data-movement.yaml
    
    - name: Confirm AG Health
      include_tasks: tasks/sql/windows-sql-ag-cluster-healthcheck.yaml

    - name: Confirm AG Replica Node Health
      include_tasks: tasks/sql/windows-sql-ag-replica-healthcheck.yaml

    - name: Confirm AG Database Health
      include_tasks: tasks/sql/windows-sql-ag-database-healthcheck.yaml